{% extends 'base.html.twig' %}

{% block title %}Edycja!{% endblock %}

{% block body %}


    <!--suppress ALL -->
    <div class="container">

        <div class="row">
            <div class="col">
                <video id="video" width="100%" src="{{ '/uploads/videos' ~ '/' ~  model.filePath }}" controls >
                    Przepraszamy ale Twoja przeglądarka nie potrafi odtwarzać filmów za pomocą HTML5.
                    Nie przejmuj się, bo <a href="{{ videoPath ~ '/' ~  model.filePath }}">możesz go stąd pobrać</a>
                    i oglądać za pomocą swojego ulubionego odtwarzacza!
                </video>
            </div>

            <div class="col">
                <div class="button-group float-right mb-4">
                    <button id="openModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Dodaj tekst do filmu</button>
                    <button class=" btn btn-warning">#</button>
                </div>

                {% if model.subtitles.count() %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Czas rozpoczęcia [s]</th>
                            <th scope="col">Długosc wyswietlenia [s]</th>
                            <th scope="col">Tekst</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for subtitle in model.subtitles %}
                            <tr>
                                <td>{{ subtitle.start }}</td>
                                <td>{{ subtitle.duration }}</td>
                                <td>{{ subtitle.text }}</td>
                                <td>
                                    <a class="btn btn-sm btn-danger" href="{{ path('remove_subtitle', {id: model.id, idSub: subtitle.id} ) }}">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                {% else %}
                    <h2>Brak napisów</h2>
                {% endif %}
            </div>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dodawanie tekstu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addText">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="subtitle">Napis na video</label>
                            <input type="text" class="form-control" name="subtitle" id="subtitle" required>
                        </div>

                        <div class="form-group">
                            <label for="start">Czas pojawienia się napisu [s]</label>
                            <input type="number" step="any"  class="form-control" name="start" id="start" required>
                        </div>

                        <div class="form-group">
                            <label for="duration">Dlugość wyświetlania [s]</label>
                            <input type="number" step="any"  class="form-control" name="duration" id="duration" required>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="saveButton" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        var videoId = {{ model.id }}
        var video = document.getElementById('video');

        $('#openModal').click(function() {
            $('#start').val(video.currentTime)
        });


        $('#addText').submit(function (e) {
            e.preventDefault();
            var data =
            {
                'start': $('#start').val(),
                'duration': $('#duration').val(),
                'text': $('#subtitle').val()
            }


            $.ajax({
                type: 'POST',
                url: `/myVideos/${videoId}/addSubtitle`,
                data: data,
                dataType: 'json',
                success: function (res) {
                    location.reload();
                },
                error: function (error) {
                    console.log(error);
                }
            })
        })

    </script>

{% endblock %}