{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}

    {% for row in vidoes %}
        <div class="row pt-5">
            <hr class="d-sm-none">
            <div class="col-sm-12">
                <h2>{{  row.name  }}</h2>
                <h5>{{  row.created | date("m/d/Y") }} </h5>
                <p>Dodano przez: {{ row.user.email }}</p>
                <p>{{ row.description }}</p>
                <div class="fakeimg">
                    <video class="video_redirect" data-id="{{ row.id }}" width="100%" src="{{ '/uploads/videos' ~ '/' ~  row.filePath }}"  >
                        Przepraszamy ale Twoja przeglądarka nie potrafi odtwarzać filmów za pomocą HTML5.
                        Nie przejmuj się, bo <a href="{{ videoPath ~ '/' ~  row.filePath }}">możesz go stąd pobrać</a>
                        i oglądać za pomocą swojego ulubionego odtwarzacza!
                    </video>

                </div>
                <p></p>
            </div>
        </div>
    {% else %}

        <h2 class="text-center">Brak filmów</h2>

    {% endfor %}


    <script>

        $('.video_redirect').click(function(e) {
            e.preventDefault();
            var id = $(this).data('id');
            window.location.href = `/video/${id}`
        })

    </script>

{% endblock %}
