{% extends 'base.html.twig' %}

{% block title %}Moja lista plików!{% endblock %}

{% block body %}

    <div class="row float-right p-4">
        <a class="btn btn-success" href="{{ path('upload') }}" >Dodaj film</a>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Nazwa </th>
            <th>Opis</th>
            <th>Data utworzenia</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for row in vidoes %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }} </td>
                <td>{{ row.description }}</td>
                <td>{{ row.created | date("m/d/Y") }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('edit_video', {id: row.id} ) }}">Edycja</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('remove_video', {id: row.id} ) }}">Usuń</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Brak filmów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}