{% extends 'base.html.twig' %}

{% block title %}Video !{% endblock %}

{% block body %}

    <style>
        #subtitles {
            bottom: 70px;
            left: 0;
            width: 100%;
            color: white;
            text-align: center;
            font-size: 17px;
            background: rgba(0,0,0,0.55);
        }
    </style>

    <div class="row pt-5">
        <hr class="d-sm-none">
        <div class="col-sm-12">
            <h2>{{  video.name  }}</h2>
            <h5>{{  video.created | date("m/d/Y") }} </h5>
            <p>Dodano przez: {{ video.user.email }}</p>
            <p>{{ video.description }}</p>
            <div class="fakeimg position-relative">
                <video id="video" class="video_redirect" data-id="{{ video.id }}" width="100%" src="{{ '/uploads/videos' ~ '/' ~  video.filePath }}" controls>
                    Przepraszamy ale Twoja przeglądarka nie potrafi odtwarzać filmów za pomocą HTML5.
                    Nie przejmuj się, bo <a href="{{ videoPath ~ '/' ~  video.filePath }}">możesz go stąd pobrać</a>
                    i oglądać za pomocą swojego ulubionego odtwarzacza!
                </video>

                <span id="subtitles" class="position-absolute">
                    Rozpocznij zeby zobaczyc napisy
                </span>
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <hr>
        <div class="col-sm-12">
            <h2>Komenatarze</h2>

            {% if app.user == null %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Komenatrze tylko dla zalogowanych</h5>
                    </div>
                </div>
            {% else %}

                {% if video.comments.count() %}
                    {% for row in video.comments %}
                    <div class="card mt-4">
                        <div class="card-header">
                            {{ row.user.email }}

                            {% if row.user.email == app.user.email %}
                            <div class="float-right">
                                <a href="{{ path('remove_comment', {id: row.id, idVideo: video.id}) }}" class="btn btn-danger">Usuń</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ row.value }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Brak komenatrzy</h5>
                        </div>
                    </div>
                {% endif %}


                <button id="openModal" type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModal">Dodaj komenatrz</button>
            {% endif %}


        </div>

    </div>

    <!-- Modal -->
    {% if app.user %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dodawanie tekstu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addText">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="name">Użytkownik</label>
                            <input type="text" disabled class="form-control" value="{{ app.user.email }}" name="name" id="name">
                        </div>

                        <div class="form-group">
                            <label for="commentText">Tresc</label>
                            <textarea class="form-control" name="commentText" id="commentText" required>

                                    </textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="saveButton" type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <script>
        var subtitles = JSON.parse({{ subtitles |json_encode|raw }});
        console.log(subtitles);
        var video = document.getElementById('video');

        video.ontimeupdate = function() {
            var found_names = $.grep(subtitles, function(v) {
                return video.currentTime >=  v.start && video.currentTime <= (v.start + v.duration);
            });

            if(found_names.length) {
                $('#subtitles').text(found_names[0].text);
            }
            else {
                $('#subtitles').text("");
            }
        };

    </script>

    <script>
        var videoId = {{ video.id }}

        $('#addText').submit(function (e) {
            e.preventDefault();
            var data =
                {
                    'videoId': videoId,
                    'value': $('#commentText').val(),
                };


            console.log('data');

            $.ajax({
                type: 'POST',
                url: `/comment`,
                data: data,
                dataType: 'json',
                success: function (res) {
                    location.reload();
                },
                error: function (error) {
                    console.log(error);
                }
            })
        })

    </script>

{% endblock %}