{% extends 'base.html.twig' %}

{% block title %}Dodaj plik!{% endblock %}

{% block body %}

    <h1>Dodawanie nowego filmu</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.filePath) }}
        {{ form_row(form.active) }}
        <button  class="btn btn-lg btn-primary">Dodaj</button>
    {{ form_end(form) }}
{% endblock %}
