<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {#header#}
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Edytor Filmow Wideo</h1>

            {% if app.user %}
                <h2>Zalogowany jako: {{ app.user.username }} </h2>
            {% endif %}
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('last_video') }}">Ostatnio Dodane</a>
                    </li>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('upload') }}">Dodaj Film</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('my_movies') }}">Moje filmy</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" style="color: red" href="{{ path('admin') }}">LISTA UŻYTKOWNIKOW (ADMIN)</a>
                        </li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{  path('app_logout') }}">Wyloguj</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Zaloguj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Rejestracja</a>
                        </li>
                    {% endif %}


                </ul>
            </div>
        </nav>

        <div class="container" style="margin-top:30px">
            {% block body %}{% endblock %}
        </div>

        <div class="mt-5"></div>

        {% block javascripts %}{% endblock %}

        {#footer#}
        <div class=" text-center" style="margin-bottom:0; position: fixed;  left: 0; bottom: 0; width: 100%; background: darkgray">
            <p>Copyright Mateusz Łapka 2019</p>
        </div>

    </body>
</html>
